<%= link_to category_transactions_path(category.id)  do %>
  <div class="md:mx-2 my-2 hover:bg-gray-700 rounded-lg shadow-lg bg-gray-500 w-96 h-32 max-w-md flex transition">
      <div class="rounded-lg h-full w-40 <%= 'pic'+category.picture.to_s+'-thin' %> "></div>
      <div class="px-4 w-full">
        <h5 class="mt-4 text-xl font-medium mb-2"><%= category.name %></h5>
        <p class="text-sm mb-4">
          <% if category.description.length >= 50 %>
            <%= category.description[0...50]+"..." %>
          <% else %>
            <%= category.description %>
          <% end %>
        </p>
        <p class="text-gray-300 text-xs mb-4">
          Total transactions: 
          <%= category.transactions.count %>
        </p>
      </div>
  </div>
<% end %>
