<!DOCTYPE html>
<html>
  <head>
    <title>Budget Saver</title>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-53MYL929N7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-53MYL929N7');
    </script>
    <meta name="viewport" content="width=device-width, minimum-scale=1" />
    <meta name="title" property="og:title" content="Budget Saver" />
    <meta property="og:type" content="Website" />
    <meta
      name="image"
      property="og:image"
      content="https://user-images.githubusercontent.com/85108160/148364960-d8830ffc-2c19-496e-95ba-927f4b3782c3.png"
    />
    <meta name="description" property="og:description" content="Rails application to keep track of your spendings" />
    <meta name="author" property="og:author" content="Robert Baiesita" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/dist/css/index.min.css" />
    <link rel="stylesheet" src="/app/assets/stylesheets/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render '../views/layouts/nav-logged'%>
    <% end %>
    <%= yield %>
  </body>
</html>
